.message {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.message__title {
    font-size: 1.2em;
    font-weight: 500;
}

.message__text {
    font-weight: 400;
}

.logo {
    margin: auto;
}

.illustration {
    margin: auto;
}

.nav {
    justify-content: center;
    margin: 10px;
}

.nav__active {
    color: blue;
}

.nav__inactive {
    color : grey;
}
